.footer-block {
  background-color: #495e57;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 900px;
  border-radius: 8px;
  margin: auto;
  color: white;
  padding: 50px 0px;
}

.footer-container img {
  width: 45%;
}

.footer-container li {
  list-style-type: none;
  margin-bottom: 6px;
}

.footer-container li a {
  text-decoration: none;
  color: whitesmoke;
}

.footer-container ul {
  margin-top: 15px;
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.social-icons li {
  text-align: left;
}

/* … */

@media (max-width: 768px) {
  .footer-container img {
    width: 25%;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
    padding: 20px;
  }
}
