.menu {
  margin: auto;
}

.logo {
    width: 225px;
    padding: 14px;
}

ul {
    align-self: center;
    grid-column: 3;
    display: flex;
    list-style-type: none;
}

li {
  float: left;
}

li a {
  color: #495e57;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  height: 100%;
}

li a:hover:not(.active) {
  background-color: #f4ce14;
}

.active {
  background-color: #f4ce14;
}
