.menu {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
}

.url-logo {
    margin-left: auto;
}

.logo {
    width: 50%;
    float: right;
    padding: 14px;
    margin-right: 60px;
    float: left;
}

ul {
    list-style-type: none;
    align-self: center;
    margin-right: auto;
}

li {
  float: left;
  margin: 0 10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  height: 100%;
}

li a:hover:not(.active) {
  background-color: #f4ce14;
}

.active {
  background-color: #f4ce14;
}
