.block {
  background-color: #495e57;
  margin-bottom: 90px;
}

.about-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.title-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  max-width: 950px;
  margin: auto;
}

.title-container h2 {
  color: whitesmoke;
  font-size: 40px;
}

.about-container {
  display: grid;
  margin: 30px auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
  border-radius: 8px;
  max-width: 1000px;
}

/* … */

@media (max-width: 949px) {
  .title-container {
    padding: 20px;
  }

  .about-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
  }
}
