.banner-block {
  background-color: #495e57;
  margin-bottom: 120px;
}

.image {
  margin-bottom: -65px;
  width: 90%;
  height: 24rem;
  border-radius: 1rem;
  object-fit: cover;
}

.block-left {
  padding: 20px;
  text-align: left;
  min-width: 200px;
}

.block-left h1 {
  color: #f4ce14;
  font-size: 60px;
  margin-bottom: 10px;
}

.block-left h2 {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 40px;
}

.block-left p {
  color: #ffffff;
  margin-bottom: 35px;
}

.reservation {
  margin-top: 20px;
  background-color: #f4ce14;
  padding: 13px 20px;
  border-radius: 25px;
  border: 0px;
  color: #495e57;
  font-weight: bold;
  text-decoration: none;
}

/* … */

@media (max-width: 768px) {
  .banner-block .container {
    grid-template-columns: 1fr;
  }

  .image {
    grid-column: 1;
    grid-row: 2;
  }
}
