.banner-block {
  background-color: #495e57;
  margin-bottom: 120px;
}

.image {
  margin-bottom: -65px;
  width: 90%;
  height: 24rem;
  border-radius: 1rem;
  object-fit: cover;
}

.block-left {
  padding: 20px;
  text-align: left;
  min-width: 200px;
}

.block-left h1 {
  color: #f4ce14;
  font-size: 30px;
  margin-bottom: 10px;
}

.block-left h3 {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 25px;
}

.block-left p {
  color: #ffffff;
  margin-bottom: 20px;
}

.reservation {
  margin-top: 15px;
  background-color: #f4ce14;
  padding: 15px 20px;
  border-radius: 25px;
  border: 0px;
  color: #495e57;
  font-weight: bold;
}