.menu-banner-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  max-width: 950px;
  border-radius: 8px;
  margin: auto;
}

.left-content {
  text-align: left;
  color: #495e57;
}

.left-content h2 {
  text-align: left;
  color: #495e57;
  font-size: 40px;
}

.right-content {
  display: flex;
}

.right-button {
  display: flex;
  background-color: #f4ce14;
  border-radius: 2rem;
  border: 0px;
  width: 120px;
  height: 50px;
  color: #495e57;
  font-weight: bold;
  text-decoration: none;
  justify-content: center;
  align-items: center; 
}

.card-container {
  display: grid;
  margin: 30px auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  border-radius: 8px;
  max-width: 950px;
}
